
div.topic{
	position:relative;
	left:340px;
	border-style:solid;
	border-radius:10px;
	top:0px;
	height:90px;
	width:400px;
	padding:10px;
	border-width:10px;
}
div.slideshow {
    position:relative;
	top:100px;
	left:270px;
	border-style:solid;
	border-radius:20px;
	width:555px;
	padding:10px;
}
div.menu{
	position:relative;
	top:50px;
	left:120px;
	border-style:solid;
	border-radius:20px;
	width:800px;
	height:30px;
	padding:10px;
	background-color:lightblue;
}
div.aboutUs
{

	position:absolute;
	top:650px;
	left:130px;
	border-style:double;
	border-radius:10px;
	width:280px;
	height:200px;
	padding:20px;
}
div.aboutUs .head
{
	font-weight:bold;
}
div.contactUs
{
	position:absolute;
	top:650px;
	left:460px;
	border-style:double;
	border-radius:10px;
	width:280px;
	height:200px;
	padding:20px;
}
div.Excelent
{
	position:absolute;
	top:650px;
	left:790px;
	border-style:double;
	border-radius:10px;
	width:280px;
	height:200px;
	padding:20px;
}
